/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/09/2017, 21:32:09
    Author     : lincondias
*/

 body
{
	background-color: #f7f7f7;
}
.space-10
{
	margin-top: 10%;
	height: 1px;
}
.condicao
{
	width: 100%;
	margin: 0 auto;
	color: #66CC66;
}